<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="{% url 'employeepage' %}", enctype="multipart/form-data">
  {% csrf_token %}
    <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Admin</h4>
                    <p class="card-description"> Basic form elements </p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" name="name" id="exampleInputName1" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail3" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Mobile</label>
                          <input type="text" class="form-control" name="mob" id="exampleInputEmail3" placeholder="mob">
                      </div>
                      <div class="form-group">
                        <label>Image</label>
<!--                        <input type="file" name="img[]" class="file-upload-default">-->
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info" name="img" placeholder="Upload Image">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1"> Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="cpwd">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2" onclick="window.alert('admin added successfully')">Submit</button>
                    </form>
                  </div>
                </div>
</form>
</body>
</html>
{% endblock %}