<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="{% url 'categorypage' %}", enctype="multipart/form-data">
  {% csrf_token %}
    <div class="card">
                  <div class="card-body">
<!--                    <h4 class="card-title">Category</h4>-->
<!--                    <p class="card-description"> Category Elements </p>-->
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="cname">
                      </div>
<div class="form-group">
                        <label>Image</label>
<!--                        <input type="file" name="img[]" class="file-upload-default">-->
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info" name="image" placeholder="Upload Image">
                        </div>
                      </div>

          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4" name="des"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2" onclick="window.alert('category added successfully')">ADD</button>
        </form>
      </div>
    </div>
  </div>
                    </form>
                  </div>
                </div>

</form>

</body>
</html>
{% endblock %}