<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="">-->
<!--    <h1><center> Display Product</center></h1>-->
<!--    <div class="col-lg-12 grid-margin stretch-card">-->
<!--                <div class="card">-->
<!--                  <div class="card-body">-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table table-bordered">-->
<!--                        <thead>-->
<!--                          <tr>-->
<!--                            <th> Product </th>-->
<!--                              <th> Price </th>-->
<!--                              <th> Quantity </th>-->
<!--                              <th> PDescription</th>-->
<!--                              <th> PImage </th>-->
<!--                              <th> Category</th>-->
<!--                          </tr>-->
<!--                        </thead>-->
<!--                          <tbody>-->
<!--                          {% for d in data %}-->
<!--                          <tr>-->
<!--                           <td>{{d.Product}}</td>-->
<!--                              <td>{{d.Price}}</td>-->
<!--                              <td>{{d.Quantity}}</td>-->
<!--                              <td>{{d.PDescription}}</td>-->
<!--                              <td> <img src="{{d.PImage.url}}" width="100px" height="100px"> </td>-->
<!--                              <td>{{d.Category}}</td>-->
<!--                              <td>-->
<!--                                  <form action="{% url 'editproduct' dataid=d.id %}">-->
<!--                                      <button type="submit" class="btn btn-primary mr-2">Edit</button>-->
<!--                                  </form>-->
<!--                              </td>-->
<!--                              <td>-->
<!--                                  <form action="{% url 'deleteproduct' dataid=d.id %}">-->
<!--                                      <button type="submit" class="btn btn-primary mr-2">Delete</button>-->
<!--                                  </form>-->
<!--                              </td>-->
<!--                          </tr>-->
<!--                          {% endfor %}-->
<!--                          </tbody>-->
<!--                      </table>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--</form>-->
<form action="">
<div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Display Product</h1>
          </div>
          <div class="row">
            <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
<!--                  <h6 class="m-0 font-weight-bold text-primary">Simple Tables</h6>-->
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                            <th> Product </th>
                              <th> Price </th>
                              <th> Quantity </th>
                              <th> PDescription</th>
                              <th> PImage </th>
                              <th> Category</th>
                          </tr>
                    </thead>
                     <tbody>
                          {% for d in data %}
                          <tr>
                           <td>{{d.Product}}</td>
                              <td>{{d.Price}}</td>
                              <td>{{d.Quantity}}</td>
                              <td>{{d.PDescription}}</td>
                              <td> <img src="{{d.PImage.url}}" width="100px" height="100px"> </td>
                              <td>{{d.Category}}</td>
                              <td>
                                  <form action="{% url 'editproduct' dataid=d.id %}">
                                      <button type="submit" class="btn btn-primary mr-2">Edit</button>
                                  </form>
                              </td>
                              <td>
                                  <form action="{% url 'deleteproduct' dataid=d.id %}">
                                      <button type="submit" class="btn btn-primary mr-2">Delete</button>
                                  </form>
                              </td>
                          </tr>
                          {% endfor %}
                          </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
          </div>
          <!--Row-->
          <!-- Modal Logout -->
        </div>
    </form>
</body>
</html>
{% endblock %}